# Created by E-Mail:xunibidev@gmail.com
.idea
target
*.jar
*.log
/admin/admin.iml
/exchange/exchange.iml
/exchange-api/exchange-api.iml
/chat/chat.iml
/cloud/cloud.iml
/core/core.iml
/exchange-core/exchange-core.iml
/margin-core/margin-core.iml
/netty/netty.iml
/open-api/open-api.iml
/otc-api/otc-api.iml
/otc-core/otc-core.iml
/ucenter-api/ucenter-api.iml
/vote/vote.iml
/wallet/wallet.iml
/bitrade-parent.iml
